h1, h3 {
  color: white;
}

.return-link {
  font-size: 2vmin;
  color: white;
  font-weight: 500;
  margin: 2vmin 0 0 2vmin;
}

.details-body-div {
  margin: 5vmin 5vmin;
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.starship-details {
  background-color: #7E8987;
  padding: 0 3vmin 3vmin 3vmin;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 5px;
}

.details-content {
  margin: 2vmin 0 0 2vmin;
}