h1, h4 {
  color: #F5F8DE;
}

.title {
  background-color: #EC4E20;
  margin: 0;
  padding: 1vmin;
  font-family: jedi;
}

.body-div {
  margin: 5vmin 5vmin;
  height: 100%;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.starship-div {
  display: flex;
  font-family: jedi;
  background-color: #0353A4;
  width: 24%;
  height: 13vmin;
  justify-content: center;
  align-content: center;
  margin: 2vmin;
  border-radius: 5px;
  border: 3px solid #7E8987;
  align-items: center;
}

.starship-link {
  text-decoration: none;
  color: #F5F8DE;
  font-size: 3vmin;
  padding: 1vmin;
  /* height: 10vmin; */
}