header {
  background-color: #7E8987;
  height: 6vmin;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-left: 2vmin;
}

.link {
  color: #F5F8DE;
  text-decoration: none;
  font-size: 3vmin;
  font-weight: 500;
  font-family: jedi;
}